/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    overflow-x: hidden;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ailerons';
    src: url('../fonts/ailerons-typeface-webfont.eot');
    src: url('../fonts/ailerons-typeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ailerons-typeface-webfont.woff2') format('woff2'),
         url('../fonts/ailerons-typeface-webfont.woff') format('woff'),
         url('../fonts/ailerons-typeface-webfont.ttf') format('truetype'),
         url('../fonts/ailerons-typeface-webfont.svg#aileronsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: 'robotolight';
  letter-spacing: 2px;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #000;
}

a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: 'ailerons';
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

header {
    height: 45px;
    position: fixed;
    top: 0px;
    background-color: #111;
    width: 100%;
    z-index: 1000;
}

.trillium-logo-main {
    width: 100px;
    padding: 10px;
}

ul.main-navigation {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin: 0px;
}

ul.main-navigation > li > a {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 4px;
    opacity: 0.7;
    padding: 15px;
}

ul.main-navigation > li {
    display: inline-block;
}

ul.sub-nav {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: #000;
    font-size: 0.6em;
    margin-top: 12px;

}

ul.main-navigation li:hover ul.sub-nav{
    display: block;
}

ul.main-navigation li ul.sub-nav li a {
    padding: 0px 15px;
    -webkit-transition: padding 1s; /* Safari */
    transition: padding 1s;
}

ul.main-navigation li:hover ul.sub-nav li a {
    padding: 8px 15px;
}

ul.sub-nav li a{
    padding: 0px 15px;
    display: block;
}

ul.sub-nav a {
    opacity: 0.7;
}

ul.sub-nav li:hover a{
    opacity: 1;
}

section.main img.sectionBG {
    width: 100%;
}


section.main {
    position: relative;
    margin-top: -2px
}

div.section-content {
    position: absolute;
}

div.section-content {
    text-align: center;
    width: 100%;
    z-index: 10;
    top: 70%;
}

div.section-content.bsquarestext {
    top: 10%;
}

div.section-content#whisky-in-space {
    top:35%;
}

#bsquare {
    width: 60px;
    left: 0%;
    position: absolute;
    top: 60px;
}

div.part2 {
    top: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0px;
}

div.part2 div {
    width: 60%;
    margin: 0 auto;
}

.how-we-work div{
    background-color: rgba( 30, 30, 30, 0.6);
    color: #ccc;
    padding: 20px;
    padding-bottom: 50px;
}

.section-1-moon div.section-content {
    top: 70%;
}

.space-glass-circle {
    max-width:400px;
    right: 20%;
    top:35%;
}

.b-square-circle {
    max-width:400px;
    right: 8%;
    bottom: 33%;
}

.scuba-divers {
    max-width:70%;
    left: 5%;
    top:5%;
}

.asteroid {
    max-width:40%;
    right: 5%;
    top:25%;
}


.fixed {
    position: absolute;
}

.story {
    font-family: 'robotolight';
    padding: 10px;
    background-color: rgba(30,30,30,0.87);
    letter-spacing: 3px;
    font-size: 0.8em;
    text-transform: uppercase;
    opacity: 0.87;
    max-width: 50%;
    margin: 0 auto;
}

.nav-CTA {
    padding: 15px;
    background-color: #3481c5;
    /*border-radius: 2px;*/
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 4px;
    opacity: 0.9;
    margin-left: 10px;

}

.project-badge {
    background-color: rgba(255,255,255,0.5);
    text-align: left;
    max-width: 250px;
    padding: 10px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    font-size: 0.7em;
    position: absolute;
    box-shadow: 0px 0px 10px #444;
}

.project-badge h3 {
    font-family: 'ailerons';
    letter-spacing: 5px;
    font-size: 1.8em;
    color: #fff;
    font-weight: normal;
    margin: 0px;
}

.project-badge p {
    color: #fff;
    margin: 5px 2px;
    letter-spacing: 2px;
}

.space-glass-badge {
    top: 49%;
    right: 1%;
}

.b-squares-badge {
    top: 62%;
    right: 1%;
}

.dropfab-badge {
    top: 10%;
    left: 1%;
}

.ultrascope-badge {
    top: 88%;
    right: 1%;
}

.fuelpod-badge {
    top: 88%;
    left: 1%;
}

.octotalk-badge {
    top: 25%;
    right: 20%;
}

.phi-badge {
    top: 45%;
    right: 40%;
}

.osa-badge {
    top: 64%;
    right: 1%;
}

.mavericks-lab-badge {
    top: 64%;
    right: 1%;
}


.starshine {
    background-image: url('../img/stars.jpg');
}

.all-partners {
    width: 100%;


}

/*Secondary styles START */

.secondary-container {
    top:0;
    left:100%;

    width:1920px;
    margin-left:0;
    padding-right:0;

}

section.secondary {
  /*margin-top:100px;*/
  height: 900px; /* Default secondary height, set precise h in spec. class */
  /*border:2px solid white;*/
  color:white;

}


section.secondary-1-moon {
  height:1400px;
}

section#secondary-3-BSQ{
  background-color: #161827;
}

section#secondary-4-horizon{
  height:200px;
  background-color: #242A38;
}

section#secondary-5-dropfab{
  background-color:#344058;
}

section#secondary-6-ultrascope{

  background:url("../img/overlays/ultrascope-overlay.jpg");
  background-size:cover;
  background-color:#7A6468;
}

section#secondary-7-fuelpod{
  background-color:#B08C6B;
}

section#secondary-8-shore{
  height:40px;
  background-color:#4897C8;
}

section#secondary-9-octotalk{
  background-color:#166AAB;
}

section#secondary-10-coast {
  height:650px;
  background-color:#0072A9;

}

section#secondary-11-phi{
  background-color:#AEB1C0;
}

section#secondary-12-osa{
  background-color:#161827;
}

section#secondary-13-mavericks{
  background-color:black;
}

.secondary-project-title{
  position:absolute;
  background-image: url("../img/dropfab-title.png");
  background-repeat: no-repeat;
  background-position: center top;


  width:7%;
  height:inherit;
  background-color: #fff;
  display:inline-block;
  margin:0;
  padding:0;
}



.secondary-project-desc{
  position:absolute;
  left:7%;
  background-color:#F4F7F9;
  height:inherit;
  width:29%;
  display:inline-block;
  /*margin:-6px;*/
  padding:0;


  /*z-index:10;*/
}

.secondary-project-desc h1{
  font-family: 'robotolight';
  text-align: left;
  color:black;
  margin-left:30px;
  margin-top:30px;
  margin-bottom:3px;
  letter-spacing:-0.5px;
  font-size:1.3em;
  font-weight: BOLD;

}

.secondary-project-desc p{
  font-family: 'robotolight';
  text-align: left;
  color:black;
  margin:0 70px 50px 30px;
  font-weight: BOLD;

}
.secondary-project-gallery{
  position:absolute;
  left:36%;
  border-left:50px solid rgba(255,255,255,0.05);
  background-color:#82BAB6;
  background-image:url(../img/projectBackground.jpg);
  /*background-size:cover;*/
  width:100%;
  height:inherit;
  display:inline-block;
  margin-left:-50px;
  /*z-index:1;*/
}


.overlay {
    position: fixed;
    z-index: 20;
    top: 45px;
    left: 100%;
    width: 100%;
    height: 100%;

}

div.onscreen {
    left: 0;

}


.building-a-future {
    width: 350px;
}

.space-tourists, .nanosatellite {
    width: 350px;
}

.overlay > img {
    width: 100%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
