/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
    position: fixed;
    z-index: 20000;
    top: 0;
    right: 0;
    height: 200px;
    width: 200px;

    -webkit-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
/*    background-image: url('../img/ring.gif');*/
}

.pace .pace-progress:after {
  display: block;
    position: relative;
    top: 70px;
    content: attr(data-progress-text);
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
    font-size: 3.8rem;
    line-height: 1;
  text-align: center;
  color: rgba(255, 255, 255, 0.19999999999999996);
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ailerons';
    src: url('../fonts/ailerons/ailerons-typeface-webfont.eot');
    src: url('../fonts/ailerons/ailerons-typeface-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ailerons/ailerons-typeface-webfont.woff2') format('woff2'),
         url('../fonts/ailerons/ailerons-typeface-webfont.woff') format('woff'),
         url('../fonts/ailerons/ailerons-typeface-webfont.ttf') format('truetype'),
         url('../fonts/ailerons/ailerons-typeface-webfont.svg#aileronsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
  font-family: 'robotolight';
  letter-spacing: 2px;
}


/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    background-color: #000;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

h1 {
    font-family: 'ailerons';
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    font-weight: normal;
}

h1.story {
    text-shadow: 1px 1px 1px rgba(60, 60, 60, 0.4);
}

header {
    height: 45px;
    position: fixed;
    top: 0px;
    background-color: #111;
    width: 100%;
    z-index: 1000;
}

#preloader {
    position: fixed;
    width: 100%;
    height: 101%;
    background-color: rgba(20,20,20,1);
    z-index: 1000;
    text-align: center;
    margin: 0 auto;
    opacity: 1;
    transition: opacity 2s ease-out;
}

#preloader > div {
    position: relative;
    height: 100%;
}

#preloader > div > div.preloader-content {
    position: absolute;
    top: 38%;
    height: 100%;
    text-align: center;
    width: 100%;
} 

#preloader.preloader-complete * {
    opacity: 0;
}

#preloader.hide-preloader {
    display: none;
}

#preloader * {
    margin: 0 auto;
    text-align: center;
    transition: opacity 0.2s ease-out;
}

#preloader.preloader-complete {
    opacity: 0;
}

#preloader p {
    position: relative;
    top: -107px;
}

.trillium-logo-main {
    width: 200px;
}

ul.main-navigation {
    list-style-type: none;
    display: inline-block;
    float: right;
    margin: 0px;
}

ul.main-navigation > li > a {
    padding-left: 15px;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 4px;
    opacity: 0.7;
    padding: 15px;
}

ul.main-navigation > li {
    display: inline-block;
}

ul.sub-nav {
    display: none;
    position: absolute;
    list-style-type: none;
    padding-left: 0px;
    background-color: #000;
    font-size: 0.7em;
    margin-top: 12px;
    
}

ul.main-navigation li:hover ul.sub-nav{
    display: block;
}

ul.main-navigation li ul.sub-nav li a {
    padding: 0px 15px;
    -webkit-transition: padding 1s; /* Safari */
    transition: padding 1s;
}

ul.main-navigation li:hover ul.sub-nav li a {
    padding: 8px 15px;
}

ul.sub-nav li a{
    padding: 0px 15px;
    display: block;
}

ul.sub-nav a {
    opacity: 0.7;
}

ul.sub-nav li:hover a{
    opacity: 1;
}

section.main img.sectionBG {
    width: 100%;
}

.section-1-moon {
    min-height: 600px;
}

.section-2-ISS {
    min-height: 800px;
}

.section-3-BSQ {
    min-height: 800px;
}

.section-4-horizon {
    min-height: 500px;
}

.section-5-village {
    min-height: 1000px;
}

.section-6-shore {
    min-height: 800px;
}

.section-7-underwater {
    min-height: 800px;
}

.section-8-coast {
    min-height: 800px;
}

.section-9-atmosphere {
    min-height: 800px;
}

.padded {
    padding-right: 40px;
}

.how-we-work-content h2 {
    color: #fff;
    font-weight: normal;
    font-size: 1.5em;
}

.how-we-work-content h3 {
    font-family: 'ailerons';
    font-size: 1.7em;
    color: #fff;
    font-weight: normal;
}


.how-we-work-content .skills {
    margin: -3px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 0.8em;
}

.how-we-work-content .skills p {
    padding: 10px;
    margin: 15px;
}

.how-we-work-content .blue p {
    background-color: #2257af;
}

.how-we-work-content .purple p {
    background-color: #504c95;
}

.how-we-work-content .teal p {
    background-color: #17889c;
}

.skillset {
    margin: 50px 0px;
}

.skillset h2 {
    text-align: center;
    font-family: 'ailerons';
}

form.mission-form *{
    color: #fff; 
    font-size: 1.2em;
}

form.mission-form.pure-form input {
    margin: 2px 0px 8px 0px;
    font-size: 0.9em;
    padding: 0.4em 0.6em;
    color: #222;
}

form.pure-form.mission-form legend {
    color: #fff;
}

form.mission-form button.pure-button.pure-button-primary {
    font-size: 1em;
    margin: 20px 0px;
    text-transform: uppercase;
    background-color: #3481c5;
}


.main-content {
    margin-top: 45px;
}

section.main {
    position: relative;
    margin-top: -2px
}

div.section-content {
    position: absolute;
}

.relationships h2 {
    display: block;
}

div.section-content {
    text-align: center;
    width: 100%;
    z-index: 10;
    top: 70%;
}

div.section-content.bsquarestext {
    top: 10%;
}

div.section-content.where-everyone-text {
    top: 60%;
}

div.section-content#whisky-in-space {
    top:35%;
}

#bsquare {
    z-index: 2000;
    width: 80px;
    height: 80px;
}

.bsquare-box {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 10%;
    left: -100px;
}

div.part2 {
    top: 10%;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0px;
}

div.part2 div {
    width: 80%;
    margin: 0 auto;
}

.how-we-work div{
    background-color: rgba( 30, 30, 30, 0.6);
    color: #ccc;
    padding: 20px;
    padding-bottom: 50px;
    text-align: center;
}

.how-we-work p {

}

.work-with-us-CTA {
    background-color: #3481c5;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    font-size: 0.9em;
    margin: 20px;

}

.ocean-climate-space {
    font-weight: 800;
    color: #3481c5;
}

.section-1-moon div.section-content {
    top: 70%;
} 

.space-glass-circle {
    max-width:400px;
    right: 20%;
    top:35%;
    box-shadow: 0px 0px 20px #1a5f9c;
    border-radius: 50%;
}

.b-square-circle {
    max-width:400px;
    right: 8%;
    bottom: 33%;
    box-shadow: 0px 0px 20px #1a5f9c;
    border-radius: 50%;
}

.scuba-divers {
    max-width:60%;
    left: 5%;
    top:5%;
}

.asteroid {
/*
    max-width:40%;
    right: 5%;
    top:30%;
*/
    
    width: 450px;
}

.asteroid-box {
/*    position: relative;*/
}

.asteroid-box  {
    position: absolute;
    max-width:40%;
    right: 15%;
    top: 30%;
}

div.section-content.fuelpod-ultrascope-text {
    top: 95%;
}

div.section-content.health-of-an-ecosystem-text {
    top: 50%;
}

.fixed {
    position: absolute;
}

.story {
    font-family: 'robotolight';
    padding: 10px;
    /*background-color: rgba(30,30,30,0.87);*/
    letter-spacing: 3px;
    font-size: 0.8em;
    /*text-transform: uppercase;*/
    opacity: 0.87;
    max-width: 50%;
    margin: 0 auto;
}

.black-background {
    background-color: rgba(30,30,30,0.87);
}

.logo-bg {
    position: absolute;
    left: 0;
}

.nav-CTA {
    padding: 15px;
    background-color: #3481c5;
    /*border-radius: 2px;*/
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 4px;
    opacity: 0.9;
    margin-left: 10px;
    
}

.margin-bubble {
    margin-top: 20px;
    display: inline-block;
}

.project-badge {
    
    text-align: left;
    max-width: 250px;
    
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    font-size: 0.8em;
    position: absolute;
    
}

.project-badge:before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 3px;
    background: #fff;
}

.project-badge:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 3px;
    background: #fff;
    bottom: 0px;
}

.project-badge div:before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 3px;
    background: #fff;
    top:0;
    right:0;
}

.project-badge div:after {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 3px;
    background: #fff;
    bottom: 0px;
    right: 0;
}

.project-badge div {
    background-color: rgba(210,210,210,0.6);
    padding: 10px;
    margin: 6px 3px;
    /*box-shadow: 0px 0px 50px rgba(0,20,50,0.2);*/
}

.project-badge h3 {
    font-family: 'ailerons';
    letter-spacing: 5px;
    font-size: 1.8em;
    color: #fff;
    font-weight: normal;
    margin: 0px;
}

p {
    color: #ccc;
}

.team-bios h3 {
    font-family: 'ailerons';
    color: #fff;
    font-weight: 400;
    font-size: 1.8em;
    margin: 10px 0px;
}

.team-bios div {
    margin: 30px 0px 70px 0px;
}

.emphasize {
    color: cadetblue;
    font-weight: 800;
}

.project-badge p {
    color: #fff;
    margin: 5px 2px;
    letter-spacing: 0.5px;
}

.space-glass-badge {
    top: 49%;
    right: 1%;
}

.project-badge div:nth-child(2) {
    padding: 1px;
    font-weight: bold;
    text-align: right;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 0.7em;
}

div.space-glass-badge div:nth-child(2) {
    background-color: #24436d;
/*    background-color: #483439;*/  
}

div.b-squares-badge div:nth-child(2) {
    background-color: #24436d;
}

div.dropfab-badge div:nth-child(2) {
/*    background-color: #3E4F6B;*/
    background-color: #24436d;
}

div.ultrascope-badge div:nth-child(2) {
    background-color: #24436d;
}

div.fuelpod-badge div:nth-child(2) {
/*    background-color: #911D18;*/
    background-color: #24436d;
}

div.octotalk-badge div:nth-child(2) {
/*    background-color: #1D284B;*/
    background-color: #24436d;
}

div.phi-badge div:nth-child(2) {
/*    background-color: #5579A8;*/
    background-color: #24436d;
}

div.osa-badge div:nth-child(2) {
/*    background-color: #222;*/
    background-color: #24436d;
}

div.mavericks-lab-badge div:nth-child(2) {
    background-color: #24436d;
}

.project-badge div:nth-child(2):hover {
    opacity: 1;
}

.b-squares-badge {
    top: 62%;
    right: 1%;
}

.dropfab-badge {
    top: 10%;
    left: 1%;
}

.ultrascope-badge {
    bottom: 1%;
    right: 1%;
}

#ultrascope {
    position: relative;
    top: -650px;
}

#fuelpod {
    position: relative;
    top: -550px;
}

.fuelpod-badge {
    bottom: 1%;
    left: 1%;
}

.octotalk-badge {
    top: 25%;
    right: 20%;
}

.phi-badge {
    top: 65%;
    right: 40%;
}

.osa-badge {
    top: 64%;
    right: 1%;
}

.mavericks-lab-badge {
    top: 68%;
    right: 1%;
}


.starshine {
    background-image: url('../img/stars.jpg');
}

.all-partners {
    width: 100%;

}

.overlay {
    position: fixed;
    z-index: 20;
    top: 45px;
    left: 100%;
    width: 100%;
    height: 100%;

}

div.onscreen {
    left: 0;
}


.building-a-future {
    width: 350px;
}

.space-tourists, .nanosatellite {
    width: 350px;
}

.overlay > img {
    width: 100%;
}

.relationships {
    margin: 0px 70px;
    padding: 100px 0px;
    text-align: center;
}

.relationships img {
    max-width: 200px;
    width: 100%;
}

.relationships > div {
    position: relative;
}

.plus {
    position: absolute;
    margin: -1px -8px;
}

.plus:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    background: #fff;
}

.plus:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
}


.TL, .TL:before, .TL:after {
    top: 0;
    left: 0;
}

.TR, .TR:before, .TR:after {
    top: 0;
    right: 0;
}

.BL, .BL:before, .BL:after {
    bottom: 0;
    left: 0;
}

.BR, .BR:before, .BR:after {
    bottom: 0;
    right: 0;
}

.text-medium {
    font-size: 1.7em;
    display: block;
    letter-spacing: 5px;
    
    font-weight: normal;
    text-transform: uppercase;
    font-style: normal;
    opacity: 0.87;
}

.text-small {
    font-size: 1em;
    font-style: italic;
    opacity: 0.7;
    /*text-transform: lowercase;*/
    margin: 20px 0px 2px 0px;
}

h1.future-where-text {
    background-color: transparent;
    text-transform: lowercase;
    /*font-size: 0.9em;*/
    font-style: italic;
    opacity: 0.6;
}


div.section-content.explore-monitor-protect-text {
    top: 90%;
}

.trillium-footer {
    background-color: #222;
    padding: 10px;
    padding-top:20px;
    padding-bottom: 20px;
    border-bottom: 10px solid #9fd3ff;
}

.trillium-footer p {
    color: #777;
    font-size: 0.9em;

}

.trillium-footer > div > div {
    padding: 10px;
}

.footer-trillium-logo {
    max-width: 250px;
    /*margin-top: 30px;*/
}

.social-icons {
    width: 35px;
    opacity: 0.5;
}

.social-icons:hover {
    opacity: 1;
}

ul.footer-missions, ul.footer-about {
    list-style-type: none;
    padding-left: 0;
    font-size: 0.7em;
    opacity: 0.7;
    margin: 0px;
}

.trillium-footer h3 {
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0px;
}

.trillium-footer-missions, .trillium-footer-about {
    /*margin-top: 50px;*/
}

.footer-missions li a, .footer-about li a {
    opacity: 0.7;

}
.footer-missions li, .footer-about li {

    padding: 1px 0px; 
}

.footer-missions li a:hover, .footer-about li a:hover {
    opacity: 1;
}

.footer-CTA {
    padding: 15px;
    background-color: #3481c5;
    /*border-radius: 2px;*/
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 4px;
    opacity: 0.9;
    /*margin-top: 60px;*/
    /*position: absolute;*/
    /*bottom: 20px;
    right: 20px;*/

    
}

.trillium-footer-about {
    position: relative;
}

p.copyright {
    font-size: 0.7em; 
    color: #bbb;
    letter-spacing: 1px;
    padding: 10px 0px; 
}

.team img.astronaut {
    width: 80%;
}

.team {
    padding: 100px 50px 100px 0px; 
}

.astro-holder {
    position: relative;
}

.team-member {
    position: absolute;
    right: 10%;
    bottom:30%;
    background-color: rgba(20,20,20,0.87);
    padding: 10px;
    border: 1px solid #3481c5;
    box-shadow: 0px 0px 20px #3481c5;
}

.team-member h4 {
    font-family: ailerons;
    color: #ddd;
    font-weight: normal;
    font-size: 1.1em;
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px
        
}

.header-buffer {
    padding-top: 100px;
}

h1.team-title {
    color: #fff;
}

.content-80 {
    width: 80%;
    margin: 0 auto;
}

.team-title h2 {
    margin: 0px 100px;
    color: #fff;
    padding-top: 50px;
    font-family: 'ailerons';
    letter-spacing: 5px;
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-weight: normal;
}



.team-member h5 {
    padding: 0px;
    margin: 0px;
    color: rgba(255,255,255,0.56);
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: normal
}

.astro-holder:nth-child(1) .team-member {
    right: 20%;
}

.astro-holder:nth-child(6) .team-member {
    
}

.main-content {
    padding-top:75px;
}

.contact-us {
    width: 75%;
    margin: 0 auto;
    padding: 100px 0px; 
}

.contact-us-left > div{
    float: right;
}

.contact-us-right > div{
    padding-left: 100px;
}

.contact-us h3, .contact-us p {
    color: #ddd;
}

.designers-and-engineers {
    font-size: 2.4em;
    margin: .4em 0 .2em 0;
    border-top: 3px dotted #333;
    border-bottom: 3px dotted #333;
    padding: 100px 0px;
    /*font-family: robotolight;*/
}

div.content.part2.designers-and-engineers-container div {
    width: 80%;
}

#partners p {
    color: rgba(255,255,255,0.87);
}

.hamburger {
    position: absolute;
    top: 8px;
    right: 46px;
    display: none;
    right: 15px;
}

ul.main-navigation.hidden {
    display: none;
}

.pure-u-1-6 {
    min-width: 100px;
}

.pure-u-1-2 {
    min-width: 400px;
}

@-webkit-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@-moz-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@-o-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}

.scuba-divers {
    -webkit-animation: diverBob 6s infinite; /* Safari 4+ */
    -moz-animation:    diverBob 6s infinite; /* Fx 5+ */
    -o-animation:      diverBob 6s infinite; /* Opera 12+ */
    animation:         diverBob 6s infinite; /* IE 10+, Fx 29+ */

    animation-timing-function: ease;
}



@-webkit-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@-moz-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@-o-keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}
@keyframes diverBob {
  0%, 100%   { top: 5%; }
  50% { top: 8%; }
}


.asteroidz {
    -webkit-animation: diverBob 6s infinite; /* Safari 4+ */
    -moz-animation:    diverBob 6s infinite; /* Fx 5+ */
    -o-animation:      diverBob 6s infinite; /* Opera 12+ */
    animation:         diverBob 6s infinite; /* IE 10+, Fx 29+ */

    animation-timing-function: ease;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media screen and (max-width: 1920px) {
    .partners-heading {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 1440px) {
    
}

@media screen and (max-width: 1280px) {
    .bsquare-box {
        left: -300px;
    }
}

@media screen and (max-width: 1024px) {
    .section-2-ISS {
        min-height: 550px;
    }
    .section-3-BSQ {
        min-height: 580px;
    }
    .section-4-horizon {
        min-height: 400px;
    }
    .section-5-village {
        min-height: 750px;
    }
    .section-6-shore {
        min-height: 600px;
    }
    .section-7-underwater {
        min-height: 600px;
    }
    .section-8-coast {
        min-height: 600px;
    }
    .section-9-atmosphere {
        min-height: 600px;
    }
}

@media screen and (max-width: 768px) {
    .bsquare-box {
        left: -500px;
    }
    .section-2-ISS {
        min-height: 440px;
    }
    .section-3-BSQ {
        min-height: 400px;
    }
    .section-4-horizon {
        min-height: 280px;
    }
    .section-5-village {
        min-height: 560px;
    }
    .section-6-shore {
        min-height: 430px;
    }
    .section-7-underwater {
        min-height: 430px;
    }
    .section-8-coast {
        min-height: 430px;
    }
    .section-9-atmosphere {
        min-height: 420px;
    }
    .building-a-future {
        width: 300px;
    }
    .section-1-moon div.section-content {
        top: 50%;
    }
    .space-glass-circle {
        width: 35%;
    }
    div.section-content#whisky-in-space {
        top: 30%;
    }
    .b-square-circle {
        width: 35%;
    }
    .story {
        max-width: 80%;
    }
    .text-medium {
        font-size: 1.3em;
    }
    .text-small {
        margin: 10px 0px 2px 0px;
    }
    div.section-content.fuelpod-ultrascope-text {
        top: 97%;
    }
    .osa-badge {
        top: 55%;
        right: 1%;
    }
    div.section-content.where-everyone-text {
        top: 40%;
    }
    .project-badge h3 {
        letter-spacing: 0px;
        font-size: 1.4em;
    }
    .asteroid {
        width: 270px;
    }
    .asteroid-box {
        top: 10%;
    }
    .section-content.mavericks-lab-text {
        top: 45%;
    }
    div.part2 div {
        width: 80%;
        margin: 0 auto;
    }
    .pure-u-1-6.extrafooter {
        display: none;
    }
    .pure-u-1-6.trillium-footer-missions, .pure-u-1-6.trillium-footer-about {
        width:22%;
    }
    
}

@media only screen and (max-width: 600px) {
    ul.sub-nav {
        display: block;
        position: relative;
    }
}

@media screen and (max-width: 425px) {
    .section-1-moon {
        min-height: 200px;
    }
    ul.nav {
        display: block;
        position: relative;
    }
    ul.sub-nav {
        display: block;
        position: relative;
    }
    ul.main-navigation > li {
        display: block;
    }
    ul.main-navigation {
        margin-top: 0px;
        background-color: #000;
        padding: 0px;
    }
    ul.sub-nav {
        margin-top: 5px;
    }
    ul.sub-nav li {
        margin: 10px;
    }
    ul.main-navigation > li {
        margin-top: 15px;
    }
    ul.main-navigation > li > a {
        opacity: 0.9;
    }
    .nav-CTA {
        margin-left: 0px;
    }
    ul.main-navigation {
        
    }
    .building-a-future {
        width: 180px;
    } 
    .section-2-ISS {
        min-height: 230px;
    }
    div.section-content#whisky-in-space {
        top: 10%;
    }
    .future-animation {
        /*        data-translatey="250";*/
    }
    .section-2-ISS {
        min-height: 200px;
    }
    .section-3-BSQ {
        min-height: 200px;
    }
    .section-4-horizon {
        min-height: 130px;
    }
    .section-5-village {
        min-height: 280px;
    }
    .section-6-shore {
        min-height: 200px;
    }
    .section-7-underwater {
        min-height: 180px;
    }
    .section-8-coast {
        min-height: 200px;
    }
    .section-9-atmosphere {
        min-height: 190px;
    }
    .designers-and-engineers {
        font-size: 1.4em;
        padding: 60px 0px;
    }
    div.part2 {
        padding: 40px 0px; 
    }
    .relationships {
        margin: 0px 20px;
        padding: 30px 0px;
    }
    .footer-trillium-logo {
        max-width: 200px 
    }
    .asteroid {
        width: 170px;
    }
    .text-small {
        font-size: 0.9em;
    }
    .text-medium {
        font-size: 1em;
        letter-spacing: 3px;
    }
    .project-badge p {
        margin: 0px 2px;
    }
    .hamburger {
        display: block;
    }
    .bsquare-box {
        left: -930px;
    }
    .project-badge div:nth-child(1) p {
        display: none;
    }
    #bsquare {
        z-index: 2000;
        width: 60px;
        height: 60px;
    }
    div.section-content.science-advanced-by-citizens {
        top: 0%; 
    }
    .fuelpod-ultrascope-text h1{
        background-color: rgba(0,0,0,0.5);
    }
    div.section-content.fuelpod-ultrascope-text {
        top: 105%;
    }
    div.section-content.explore-monitor-protect-text {
        top: 80%;
    }
    div.section-content.health-of-an-ecosystem-text {
        top: 33%;
    }
    .phi-badge {
        top: 70%
    }
    .osa-badge {
        top: 65%;
    }
    div.section-content.where-everyone-text {
        top: 33%;
    }
    .asteroid-box {
        top: 0%;
    }
    .section-content.mavericks-lab-text {
        top: 30%;
    }
    .mavericks-lab-badge {
        top: 80%;
    }
    
    .pure-u-1-6.trillium-footer-missions, .pure-u-1-6.trillium-footer-about {
        width:50%;
    }
    ul.main-navigation li:hover ul.sub-nav li a {
        padding: 0px 15px;
    }
    div.pure-u-1-6 {
        width: 33%;
    }
    .pure-u-1-2 {
        min-width: 100%;
    }
    .project-badge div {
        padding: 2px;
    }
    .project-badge {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
    }
    .project-badge:before, .project-badge:after, .project-badge div:after, .project-badge div:before {
        height: 1px;
        color: #ddd;
    }
    .project-badge div {
        margin: 3px;
    }
    

}

@media screen and (max-width: 375px) {
    .bsquare-box {
        left: -1000px;
    }
    .section-2-ISS {
        min-height: 180px;
    }
    .section-3-BSQ {
        min-height: 180px;
    }
    .section-4-horizon {
        min-height: 100px;
    }
    .section-5-village {
        min-height: 240px;
    }
    .section-6-shore {
        min-height: 180px;
    }
    .section-7-underwater {
        min-height: 160px;
    }
    .section-8-coast {
        min-height: 180px;
    }
    .section-9-atmosphere {
        min-height: 170px;
    }
    .building-a-future {
        width: 150px;
    }
    .text-small {
        font-size: 0.8em;
        margin: 0px;
        letter-spacing: 1px;
    }
    .text-medium {
        font-size: 0.9em;
        letter-spacing: 2px;
    }
    .asteroid {
        width: 116px;
    }
}

@media screen and (max-width: 320px) {
    
}
